<%= form_for :Registro, :html => { :method => :get ,:class => "form-horizontal"} do|f| %>

<div class ="form-group">
	<div class="col-sm-5">
		
	</div>

	<div class="col-sm-3">
			<h1 class="glyphicon glyphicon-user" >Registrate</h1>
			
	</div>


	<div class="col-sm-3">
			<h2><%= link_to "Nuevo usuario", controller: "personas", action: "new" %> </h2>
			
	</div>
	
</div>
<div class = "form-group">
	<div class="col-sm-5">
		
	</div>
	<div class= "col-sm-3
	">
		<%= f.text_field :Nombre ,{ :class => "from-control", :placeholder => "Ingrese Nombre"} %>
		
	</div>

</div>
<div class = "form-group">
	<div class="col-sm-5">
		
	</div>
	<div class= "col-sm-3
	">
		<%= f.text_field :Contraseña ,{ :class => "from-control", :placeholder => "Ingrese Contraseña"} %>
		
	</div>

</div>
<div class = "form-group">
	<div class="col-sm-4">
		
	</div>
	<div class= "col-sm-5">
		<%= link_to "Ingresar Cliente", {controller: "estacionamientos", action: "buscar" }, :class =>"btn btn-success" %>

		<%= link_to "Ingresar Dueño", {controller: "estacionamientos", action: "index" }, :class =>"btn btn-success" %>
		
		<%= link_to "Ingresar Admin", {controller: "administrador", action: "principal" }, :class =>"btn btn-success" %>

	</div>

</div>
<div class = "form-group">
	<div class="col-sm-4">
		
	</div>
	<div class= "col-sm-6">
		<%= f.label :olvidarcontra, "¿Olvidaste la Contraseña?" %>
		<%= link_to "click aqui" %> 
		
	</div>
	
</div>
<% end %>