<%= form_for :Registro, :html => { :method => :get ,:class => "form-horizontal"} do|f| %>

<div class ="form-group">
	<div class="col-sm-5">
		
	</div>

	<div class="col-sm-3">
			<h1 class="glyphicon glyphicon-user" >Registrate</h1>
			
	</div>


	<div class="col-sm-3">
			<h2><%= link_to "Nuevo usuario", controller: "home", action: "registro" %> </h2>
			
	</div>
	
</div>
<div class = "form-group">
	<div class="col-sm-5">
		
	</div>
	<div class= "col-sm-3
	">
		<%= f.text_field :Nombre ,{ :class => "from-control", :placeholder => "Ingrese Nombre"} %>
		
	</div>

</div>
<div class = "form-group">
	<div class="col-sm-5">
		
	</div>
	<div class= "col-sm-3
	">
		<%= f.text_field :Contrase単a ,{ :class => "from-control", :placeholder => "Ingrese Contrase単a"} %>
		
	</div>

</div>
<div class = "form-group">
	<div class="col-sm-5">
		
	</div>
	<div class= "col-sm-3
	">
		<%= f.submit "Ingresar", :class =>"btn btn-success"  %>
		
	</div>

</div>
<div class = "form-group">
	<div class="col-sm-4">
		
	</div>
	<div class= "col-sm-6">
		<%= f.label :olvidarcontra, "多Olvidaste la Contrase単a?" 
		link_to "click aqui" %> 
		
	</div>
	
</div>
<% end %>