<h1 class="text-center"">Registro de publicidad</h1>
<br><br>

<div class="container">
<%= form_for :upc, :html => { :method => :get, :class => "form-horizontal" }, :url => { :controller => "estacionamientos", :action => "lista" } do |f| %>
	<div class="form-group">

		<div class="col-sm-offset-2 col-sm-2">
			<%= f.label :nombreDescriptivo , "Nombre Descriptivo:" %>
		</div>
		<div class="col-sm-5">
			<%= f.text_field :nombreDescriptivo, { :class => "form-control", :placeholder => "Descripción de aviso"} %>
		</div>
	</div>
	<div class="form-group">

		<div class="col-sm-offset-2 col-sm-2">
			<%= f.label :nombreCliente , "Nombre de Cliente:" %>
		</div>
		<div class="col-sm-5">
			<%= f.text_field :nombreCliente, { :class => "form-control" , :placeholder => "Razon social de la empresa"} %>
		</div>
	</div>

	<div class="form-group">

		<div class="col-sm-offset-2 col-sm-2">
			<%= f.label :agregarImagen , "Agregar Imagen:" %>
		</div>
		<div class="col-sm-4">
			<%= f.text_field :agregarImagen, { :class => "form-control", :placeholder => "Ingrese ruta"} %>
		</div>
		<div class="col-sm-1">
			<%= f.submit "Buscar", :class => "btn"%>
		</div>
	</div>

	<div class="form-group">

		<div class="col-sm-offset-2 col-sm-2">
			<%= f.label :tarifa , "Tarifa:" %>
		</div>
		<div class="col-sm-2">
			<%= f.text_field :tarifa, { :class => "form-control" , :placeholder => "En Soles"} %>
		</div>
	</div>

	<div class="form-group">

		<div class="col-sm-offset-2 col-sm-2">
			<%= f.label :ubicacion , "Ubicación:" %>
		</div>
		<div class="col-sm-2">
			<%= f.select :ubicacion, [["Arrendador", 1],["Arrendatario", 2],["General", 2]] , { :include_blank => "Seleccione" } , {:class => "form-control"} %>
		</div>
	</div>

	<div class="form-group">

		<div class="col-sm-offset-2 col-sm-2">
			<%= f.label :frecuencia, "Frecuencia de visualización:" %>
		</div>
		<div class="col-sm-2">
			<%= f.select :frecuencia, [["Intensivo", 1],["Medio", 2],["Ligero", 3]] , { :include_blank => "Seleccione" } , {:class => "form-control"} %>
		</div>
	</div>


	<div class="form-group">

		<div class="col-sm-offset-2 col-sm-2">
			<%= f.label :rangofecha , "Rango de fechas:" %>
		</div>

		<div class="col-sm-1">
			Desde 
		</div>
		
		<div class="col-sm-1">
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>

		<div class="col-sm-1">
			<p class="text-center">a</p>
		</div>

		<div class="col-sm-1">
			<div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
            </div>
		</div>
	</div>

	<div class="form-group">

		<div class="col-sm-offset-2 col-sm-2">
			<%= f.label :enlaceExterno , "Enlace Externo:" %>
		</div>
		<div class="col-sm-4">
			<%= f.text_field :enlaceExterno, { :class => "form-control", :placeholder => "URL del Cliente"} %>
		</div>
	</div>

	<div class="form-group">

		<div class="col-sm-offset-2 col-sm-2">
			<%= f.label :estado , "Estado:" %>
		</div>

		<div class="col-sm-2">
			<%= f.select :frecuencia, [["Activado", 1],["Desactivado", 2]] , { :include_blank => "Seleccione" } , {:class => "form-control"} %>
		</div>
		
	</div>

	<div class="form-group">

		<div class="col-sm-offset-2 col-sm-2">
			<%= f.label :detalles , "Detalles:" %>
		</div>

	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-7">
		<%= f.text_area :detalles, { :rows => 4, :class => "form-control" , :placeholder => "URL del Cliente"} %>
		</div>
	</div>

	


	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-7 text-center">
			<%= link_to "Registrar", { :controller => "administrador", :action => "principal"}, :class => "btn btn-primary" %>
			<%= link_to "Salir", { :controller => "administrador", :action => "principal"}, :class => "btn btn-primary" %>
		</div>
	</div>

	<br>
	<br>


<% end %>
</div>

