<h1>Lista de Alquileres</h1>

<%= form_for :alquiler, :html => { :method => :get, :class => "form-horizontal" } do |f| %>
	
	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-2">
			<%= f.label :fechadesde, "Alquiler desde:" %>
		</div>
		<div class="col-sm-2">
			<%= f.date_field(:fechadesde, value: @is_fechadesde) %>
		</div>
		
		<div class="col-sm-1">
			<%= f.label :fechahasta, "hasta:" %>
		</div>
		<div class="col-sm-2">
			<%= f.date_field(:fechahasta, value: @is_fechahasta) %>
		</div>
	</div>
	
	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-2">
			<%= f.label :distrito, "Distrito:" %>
		</div>
		<div class="col-sm-4">
			<%= f.select :distrito, options_for_select(Estacionamiento.find_by_sql("SELECT DISTINCT upper(distrito) AS distrito FROM estacionamientos").collect {|e| [e.distrito, e.distrito]}, selected: @is_distrito ), { :include_blank => "Seleccione Distrito" }, { :class => "form-control" } %>
		</div>
	</div>
	
	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-2">
			<%= f.label :estacionamiento, "Estacionamiento:" %>
		</div>
		<div class="col-sm-4">
			<%= f.select :estacionamiento, options_for_select(Estacionamiento.find_by_sql("SELECT id, nombredescriptivo FROM estacionamientos WHERE codigopersona = " + current_persona.id.to_s).collect {|e| [e.nombredescriptivo, e.id]}, selected: @is_estacionamiento), { :include_blank => "Seleccione Estacionamiento" }, { :class => "form-control" } %>
		</div>
	</div>
	
	<div class="form-group">
		<div class="col-sm-offset-5 col-sm-2">
			<%= f.submit "Buscar", :class => "btn btn-primary"%>
		</div>
	</div>
	
	<div class="container">
		<table class="table table-striped table-hover">
		    <thead>
				<tr>
					<th>Estacionamiento</th>
					<th>Fecha Inicio</th>
					<th>Hora Inicio</th>
					<th>Fecha Fin</th>
					<th>Hora Fin</th>
				</tr>
		    </thead>
		    <tbody>

		    	<% @alquileres.each do |alquiler| %>
		    	<tr>
					<td><%= Estacionamiento.select(:nombredescriptivo).where("id = " + alquiler.codigoestacionamiento.to_s).collect(&:nombredescriptivo)[0] %></td>

					<td><%= alquiler.inicioalquiler.strftime("%d/%m/%Y") %></td>
					<td><%= alquiler.inicioalquiler.strftime("%I:%M%p") %></td>

					<td><%= alquiler.finalquiler.strftime("%d/%m/%Y") %></td>
					<td><%= alquiler.finalquiler.strftime("%I:%M%p") %></td>
				</tr>
		    	<% end %>
				
		    </tbody>
	  	</table>
	</div>
	
<% end %>