<!DOCTYPE html>
<html>
  <head>
    <title>TrabajoWeb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <meta charset="utf-8">
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    
    <!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to "Estaciona Aqui", root_path, :class => "navbar-brand" %>
        </div>
		
		<ul class="nav navbar-nav navbar-right">
		  <li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Daniel Dávila
			<span class="caret"></span></a>
			<ul class="dropdown-menu">
			  <li><%= link_to "Registrar un estacionamiento", controller: "estacionamientos", action: "new" %></li>
			  <li><%= link_to "Mis estacionamientos", controller: "estacionamientos", action: "index" %></li>
			  <li class="divider"></li>
			  <li><%= link_to "Registrar un servicio", controller: "serviciosadicionales", action: "new" %></li>
			  <li><%= link_to "Mis servicios", controller: "serviciosadicionales", action: "index" %></li>
			  <li class="divider"></li>
			  <li><%= link_to "Búsqueda de alquileres", controller: "alquileres", action: "lista" %></li>
			  <li class="divider"></li>
			  <li><%= link_to "Actualizar datos personales", controller: "home", action: "actualizaciondeusuario" %></li>
			  <li class="divider"></li>
			  <li><%= link_to "Darme de Baja", controller: "home", action: "bajausuario" %></li>
			  <li class="divider"></li>
			  <li><%= link_to "Cerrar sesión", controller: "home", action: "index" %> </li>
			</ul>
		  </li>
		</ul>
		
      </div>
    </nav>
	
    <div class="container">
        <%= yield %>
    </div>
  </body>
</html>