<style type="text/css">
	td { 
    	padding: 2px;
	}
</style>

<%= form_for @estacionamiento, :html => {:class => "form-horizontal"} do |f| %>

	<div class="form-group">
		<div class="col-sm-2">
			<%= f.label :nombredescriptivo, "Nombre:" %>
		</div>
		<div class="col-sm-6">
			<%= f.text_field :nombredescriptivo, { :class => "form-control", :placeholder => "Ingrese Nombre del Estacionamiento" } %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-2">
			<%= f.label :direccion, "Dirección:" %>
		</div>
		<div class="col-sm-10">
			<%= f.text_field :direccion, { :class => "form-control", :placeholder => "Ingrese la Dirección" } %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-2">
			<%= f.label :direcciongooglemaps, "Google Maps:" %>
		</div>
		<div class="col-sm-10">
			<%= f.text_field :direcciongooglemaps, { :class => "form-control", :placeholder => "Ingrese la Dirección del Google Maps" } %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-6">
			<div class="form-group">
				<div class="col-sm-4">
					<%= f.label :distrito, "Distrito:" %>
				</div>
				<div class="col-sm-7">
					<%= f.text_field :distrito, { :class => "form-control", :placeholder => "Ingrese el Distrito" } %>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-4">
					<%= f.label :numerotelefono, "Teléfono:" %>
				</div>
				<div class="col-sm-4">
					<%= f.text_field :numerotelefono, { :class => "form-control", :placeholder => "Ingrese el Teléfono" } %>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-4">
					<%= f.label :precioporhora, "Precio por hora:" %>
				</div>
				<div class="col-sm-3">
					<%= f.text_field :precioporhora, { :class => "form-control", :placeholder => "Precio" } %>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-4">
					<%= f.label "Dimensiones:" %>
				</div>
				<div class="col-sm-2">
					<%= f.label :largo %>
					<%= f.text_field :largo, { :class => "form-control" } %>
				</div>
				<div class="col-sm-2">
					<%= f.label :ancho %>
					<%= f.text_field :ancho, { :class => "form-control" } %>
				</div>
				<div class="col-sm-2">
					<%= f.label :altura %>
					<%= f.text_field :altura, { :class => "form-control" } %>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-4">
					<%= f.label :tipo, "Tipo:" %>
				</div>
				<div class="col-sm-4">
					<%= f.select :tipo, [["Interior", "INTER"], ["Exterior", "EXTER"], ["Aire Libre", "AIRE"]], { :include_blank => "Seleccione Tipo"}, {:class => "form-control"}  %>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-4">
					<%= f.label :ubicacion, "Ubicación:" %>
				</div>
				<div class="col-sm-4">
					<%= f.select :ubicacion, [["Primer Piso", "PISO1"], ["Azotea", "AZOT"], ["Sótano", "SOTAN"]], { :include_blank => "Seleccione Ubicación"}, {:class => "form-control"}  %>
				</div>
			</div>

		</div>

		<div class="col-sm-6">
			<div class="form-group">
				<iframe width="400" height="250" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Universidad%20Peruana%20de%20Ciencias%20Aplicadas&key=AIzaSyA-mX5Z7eJL5GKASzo5gSNavXxX748a5Y4" allowfullscreen></iframe>
			</div>

			<div class="form-group">
				<div class="col-sm-2">
					<%= f.submit "Cargar Fotos", :class => "btn btn-primary" %>
				</div>
			</div>

			<div class="form-group">
				<table>
					<tr>
						<td>
							<%= image_tag "estacionamiento.PNG", height: "100", title: "Estacionamiento 1" %>
						</td>
						<td>
							<%= image_tag "estacionamiento.PNG", height: "100", title: "Estacionamiento 2" %>
						</td>
						<td>
							<%= image_tag "estacionamiento.PNG", height: "100", title: "Estacionamiento 3" %>
						</td>
					</tr>
					<tr>
						<td>
							<%= image_tag "estacionamiento.PNG", height: "100", title: "Estacionamiento 4" %>
						</td>
						<td>
							<%= image_tag "estacionamiento.PNG", height: "100", title: "Estacionamiento 5" %>
						</td>
						<td>
							
						</td>
					</tr>
				</table>
			</div>
		</div>
			
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-2">
			<%= f.submit "Guardar", :class => "btn btn-primary"%>
		</div>
		<div class="col-sm-2">
			<%= link_to 'Retroceder', { :action => :index }, :class => "btn btn-primary" %>
		</div>
	</div>

<% end %>
