<h1>Muestra detalle de Estacionamientos</h1>


<%= form_for :upc, :html => { :method => :get, :class => "form-horizontal" } do |f| %>

	<div>
		


	</div>

	 <div class="col-sm-9">

	 			<div class="form-group">
					<div class= "col-sm-9">
					<%= f.label :descripcion, "Estacionamiento Los Portales" %>
					</div>
	
				</div>

				<div class="form-group">
					<div class= "col-sm-9">
					<%= f.label :direccion, "Av. Los Jeranios 345" %>
					</div>
	
				</div>

			<div class="form-group">
				<div class= "col-sm-3">
				<%= f.label :dimensiones, "2.5m x 3.5m x 1.8m" %>
				</div>
				<div class= "col-sm-3">
				<%= f.label :Tipo, "Interior" %>
				</div>
				<div class= "col-sm-3">
				<%= f.label :Ubicaci贸n, "Azotea" %>
				</div>

			</div>

   			<div class="form-group">
				<div class="col-sm-3">
				<%= f.label :preciohora, "4.5 por hora" %>
				</div>
				<div class="col-sm-4">
				<%= f.label :telefono, "014687256" %>
				</div>
				<div class="col-sm-2">
				<%= f.submit "Alquilar", :class => "btn btn-primary"%>
				</div>

			</div>

			<div class="form-group">
					<div class= "col-sm-9">
					<%= f.label :descripcion, "Estacionamiento Pepito" %>
					</div>
	
			</div>

			<div class="form-group">
				<div class= "col-sm-9">
					<%= f.label :direccion, "Av. Los Patriotras 175" %>
				</div>
	
			</div>

			<div class="form-group">
				<div class= "col-sm-3">
				<%= f.label :dimensiones, "2.5m x 3.5m x 1.8m" %>
				</div>
				<div class= "col-sm-3">
				<%= f.label :Tipo, "Exterior" %>
				</div>
				<div class= "col-sm-3">
				<%= f.label :Ubicaci贸n, "Azotea" %>
				</div>

			</div>

   			<div class="form-group">
				<div class="col-sm-3">
				<%= f.label :preciohora, "3.5 por hora" %>
				</div>
				<div class="col-sm-4">
				<%= f.label :telefono, "016845236" %>
				</div>
				<div class="col-sm-2">
				<%= f.submit "Alquilar", :class => "btn btn-primary"%>
				</div>

			</div>

				<div class="form-group">
					<div class= "col-sm-9">
					<%= f.label :descripcion, "Estacionamiento Los Portales" %>
					</div>
	
			</div>

			<div class="form-group">
				<div class= "col-sm-9">
					<%= f.label :direccion, "Av. Benavides 1405" %>
				</div>
	
			</div>

			<div class="form-group">
				<div class= "col-sm-3">
				<%= f.label :dimensiones, "2.5m x 3.5m x 1.8m" %>
				</div>
				<div class= "col-sm-3">
				<%= f.label :Tipo, "Aire Libre" %>
				</div>
				<div class= "col-sm-3">
				<%= f.label :Ubicaci贸n, "Primer piso" %>
				</div>

			</div>

   			<div class="form-group">
				<div class="col-sm-3">
				<%= f.label :preciohora, "4.5 por hora" %>
				</div>
				<div class="col-sm-4">
				<%= f.label :telefono, "01231578" %>
				</div>
				<div class="col-sm-2">
				<%= f.submit "Alquilar", :class => "btn btn-primary"%>
				</div>

			</div>
				<div class="form-group">
					 <div class= "col-sm-9">
					<%= f.label :descripcion, "Estacionamiento Los Condores" %>
					</div>
	
				</div>

				<div class="form-group">
					<div class= "col-sm-9">
					<%= f.label :direccion, "Av. Javier Prado 1487" %>
					</div>
	
				</div>

			<div class="form-group">
				<div class= "col-sm-3">
				<%= f.label :dimensiones, "2.5m x 3.5m x 1.8m" %>
				</div>
				<div class= "col-sm-3">
				<%= f.label :Tipo, "Interior" %>
				</div>
				<div class= "col-sm-3">
				<%= f.label :Ubicaci贸n, "Sotano" %>
				</div>

			</div>

   			<div class="form-group">
				<div class="col-sm-3">
				<%= f.label :preciohora, "5.0 por hora" %>
				</div>
				<div class="col-sm-4">
				<%= f.label :telefono, "016215874" %>
				</div>
				<div class="col-sm-2">
				<%= f.submit "Alquilar", :class => "btn btn-primary"%>
				</div>

			</div>

	</div>
		


<% end %>

