<h1>Muestra detalle de Estacionamientos</h1>


<%= form_for :upc, :html => { :method => :get, :class => "form-horizontal" } do |f| %>

	<div class="col-sm-3">

		<h1>Filtros </h1>
		
		<div class="form-group">
			<div class="col-sm-4">
				<%= f.label :distrito, "Distrito:" %>
			</div>
		<div class="col-sm-7">
			<%= f.select :distrito, [["La Molina", "1"], ["Jesus Maria", "2"], ["Pueblo Libre", "3"]], { :include_blank => "Seleccione"}, {:class => "form-control"}  %>
			</div>
		</div>

		<div class="form-group">
				<div class=" col-sm-5">
					<%= f.label :tipo, "Tipo:" %>
				</div>
				<div class="input-group mb-6">
			  		<div class="input-group-prepend">
		  				 <div class="input-group-text">
		    		  		<input type="checkbox">
		    		  		<%= f.label :tipo, "Interior" %> 
		   		 		</div>
		   		 		 <div class="input-group-text">
		    		  		<input type="checkbox"> 
		    		  		<%= f.label :tipo, "Exterior" %> 
		   		 		</div>
		   		 		  <div class="input-group-text">
		    		  		<input type="checkbox"> 
		    		  		<%= f.label :tipo, "Aire Libre" %> 
		   		 		 </div>
		   		 		
		  			</div>
		 		 
				</div>
			</div>

				<div class="form-group">
				<div class=" col-sm-5">
					<%= f.label :ubicacion, "Ubicación:" %>
				</div>
				<div class="input-group mb-6">
			  		<div class="input-group-prepend">
		  				 <div class="input-group-text">
		    		  		<input type="checkbox">
		    		  		<%= f.label :ubicacion, "Primer Piso" %> 
		   		 		</div>
		   		 		 <div class="input-group-text">
		    		  		<input type="checkbox"> 
		    		  		<%= f.label :ubicacion, "Sotano" %> 
		   		 		</div>
		   		 		  <div class="input-group-text">
		    		  		<input type="checkbox"> 
		    		  		<%= f.label :ubicacion, "Azotea" %> 
		   		 		 </div>
		   		 		
		  			</div>
		 		 
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-4">
				<%= f.label :puntuacion, "Puntuación:" %>
				</div>
			<div class="col-sm-7">
				<%= f.select :distrito, [["1"], ["2"], ["3"], ["4"], ["5"]], { :include_blank => "Seleccione"}, {:class => "form-control"}  %>
			</div>
			</div>

			<div class="col-sm-offset-4 col-sm-6">
				<%= f.submit "Buscar", :class => "btn btn-primary"%>
			</div>

	</div>

 <div class="col-sm-9">

 	<div class="col-sm-11" >
 		
 		<div class="col-sm-3">
 			<%= image_tag("Img1.jpg", :alt => "Los Portales",size: "180x180") %>
 		</div>
 	

	 	<div class="col-sm-6">
	 			<div class="form-group">
					<div class= "col-sm-8">
					<%= f.label :descripcion, "Estacionamiento Los Portales" %>
					</div>
	
				</div>

				<div class="form-group">
					<div class= "col-sm-8">
					<%= f.label :direccion, "Av. Los Jeranios 345" %>
					</div>
	
				</div>

			<div class="form-group">
				<div class= "col-sm-6">
				<%= f.label :dimensiones, "2.5m x 3.5m x 1.8m" %>
				</div>
				<div class= "col-sm-3">
				<%= f.label :Tipo, "Interior" %>
				</div>
				<div class= "col-sm-3">
				<%= f.label :Ubicación, "Azotea" %>
				</div>

			</div>

   			<div class="form-group">
				<div class="col-sm-5">
				<%= f.label :preciohora, "S/ 4.5 por hora" %>
				</div>
				<div class="col-sm-4">
				<%= f.label :telefono, "014687256" %>
				</div>
				<div class="col-sm-2">
				<%= link_to "Alquilar", {controller: "alquileres", action: "registro" }, :class =>"btn btn-success" %>
				</div>

			</div>

		</div>	
	</div>	
	<div class="col-sm-11">

		<div class= "col-sm-3">
			
			<%= image_tag("Img3.jpg", :alt => "Los Portales",size: "180x180") %>
		</div>

		<div class= "col-sm-6">
		
			<div class="form-group">
					<div class= "col-sm-8">
					<%= f.label :descripcion, "Estacionamiento Pepito" %>
					</div>
	
			</div>

			<div class="form-group">
				<div class= "col-sm-8">
					<%= f.label :direccion, "Av. Los Patriotras 175" %>
				</div>
	
			</div>

			<div class="form-group">
				<div class= "col-sm-6">
				<%= f.label :dimensiones, "2.5m x 3.5m x 1.8m" %>
				</div>
				<div class= "col-sm-3">
				<%= f.label :Tipo, "Exterior" %>
				</div>
				<div class= "col-sm-3">
				<%= f.label :Ubicación, "Azotea" %>
				</div>

			</div>

   				<div class="form-group">
						<div class="col-sm-5">
							<%= f.label :preciohora, "S/ 3.5 por hora" %>
						</div>
						<div class="col-sm-4">
							<%= f.label :telefono, "016845236" %>
						</div>
						<div class="col-sm-2">
							<%= link_to "Alquilar", {controller: "alquileres", action: "registro" }, :class =>"btn btn-success" %>
						</div>

				</div>
		</div>
	</div>

	<div class= "col-sm-11">

		<div class= "col-sm-3">
			<%= image_tag("Img4.jpg", :alt => "Los Portales",size: "180x180") %>

		</div>

		<div class= "col-sm-6">

				<div class="form-group">
					<div class= "col-sm-9">
					<%= f.label :descripcion, "Estacionamiento Los Portales" %>
					</div>
	
				</div>

				<div class="form-group">
					<div class= "col-sm-9">
					<%= f.label :direccion, "Av. Benavides 1405" %>
					</div>
	
				</div>

			<div class="form-group">
					<div class= "col-sm-6">
						<%= f.label :dimensiones, "2.5m x 3.5m x 1.8m" %>
					</div>
					<div class= "col-sm-4">
						<%= f.label :Tipo, "Aire Libre" %>
					</div>
					<div class= "col-sm-2">
						<%= f.label :Ubicación, "Primer piso" %>
				</div>

			</div>

   			<div class="form-group">
				<div class="col-sm-5">
				<%= f.label :preciohora, "S/ 4.5 por hora" %>
				</div>
				<div class="col-sm-4">
				<%= f.label :telefono, "01231578" %>
				</div>
				<div class="col-sm-2">
				<%= link_to "Alquilar", {controller: "alquileres", action: "registro" }, :class =>"btn btn-success" %>
				</div>

			</div>
		</div>

	</div>


	<div class= "col-sm-11">

		<div class= "col-sm-3">
			<%= image_tag("Img5.jpg", :alt => "Los Portales",size: "180x180") %>

		</div>

		<div class= "col-sm-6">
				<div class="form-group">
					 <div class= "col-sm-9">
					<%= f.label :descripcion, "Estacionamiento Los Condores" %>
					</div>
	
				</div>

				<div class="form-group">
					<div class= "col-sm-9">
					<%= f.label :direccion, "Av. Javier Prado 1487" %>
					</div>
	
				</div>

			<div class="form-group">
				<div class= "col-sm-6">
				<%= f.label :dimensiones, "2.5m x 3.5m x 1.8m" %>
				</div>
				<div class= "col-sm-3">
				<%= f.label :Tipo, "Interior" %>
				</div>
				<div class= "col-sm-3">
				<%= f.label :Ubicación, "Sotano" %>
				</div>

			</div>

   			<div class="form-group">
				<div class="col-sm-5">
				<%= f.label :preciohora, "S/ 5.0 por hora" %>
				</div>
				<div class="col-sm-4">
				<%= f.label :telefono, "016215874" %>
				</div>
				<div class="col-sm-2">
			
				<%= link_to "Alquilar", {controller: "alquileres", action: "registro" }, :class =>"btn btn-success" %>
				</div>

			</div>
		</div>
	</div>
</div>
		


<% end %>

