<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @administrator.usuario %>
</p>

<p>
  <strong>Contrasena:</strong>
  <%= @administrator.contrasena %>
</p>

<%= link_to 'Edit', edit_administrator_path(@administrator) %> |
<%= link_to 'Back', administrators_path %>
