
<%= form_for @servicioadicional, :html => {:class => "form-horizontal"} do |f| %>
	
	<% if @servicioadicional.errors.any? %>
		<div id="errorExplanation">
		    <h2><%= pluralize(@servicioadicional.errors.count, "errores") %> impidieron
		      que el servicio fuera grabado:</h2>
		    <ul>
			    <% @servicioadicional.errors.full_messages.each do |msg| %>
			      <li><%= msg %></li>
			    <% end %>
		    </ul>
		</div>
	<% end %>

	<div class="form-group">
		<div class="col-sm-2">
			<%= f.label :tiposervicio, "Tipo:" %>
		</div>
		<div class="col-sm-4">
			<%= f.text_field :tiposervicio, { :class => "form-control", :placeholder => "Ingrese Tipo de Servicio" } %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-2">
			<%= f.label :descripcion, "Descripción:" %>
		</div>
		<div class="col-sm-6">
			<%= f.text_area :descripcion, { :rows => 4, :class => "form-control", :placeholder => "Ingrese Descripcion" } %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-2">
			<%= f.submit "Guardar", :class => "btn btn-primary"%>
		</div>
		<div class="col-sm-2">
			<%= link_to 'Retroceder', { :action => :index }, :class => "btn btn-primary" %>
		</div>
	</div>
<% end %>