<h1>Edición de Servicios Adicionales</h1>

<%= form_for :upc, :html => {:method => :get, :class => "form-horizontal"} do |f| %>
	<div class="form-group">
		<div class="col-sm-2">
			<%= f.label :tipo, "Tipo:" %>
		</div>
		<div class="col-sm-4">
			<%= f.text_field :tipo, { :class => "form-control", :placeholder => "Ingrese Tipo de Servicio" } %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-2">
			<%= f.label :descripcion, "Descripción:" %>
		</div>
		<div class="col-sm-6">
			<%= f.text_area :descripcion, { :rows => 4, :class => "form-control", :placeholder => "Ingrese Descripcion" } %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-4">
			<%= f.submit "Guardar", :class => "btn btn-primary"%>
		</div>
	</div>
<% end %>